*{margin:0;
padding:0;
box-sizing: border-box;
}
body{
font-size:16px;
font-family: "Kanit";
font-style:normal;
}
a{
text-decoration:none;
color: black;    
}
li{
list-style: none;
}
.header {
background-color: black;
width:100%;
}
.header__menu-link{
font-family: "Kanit", sans-serif;
font-weight: 500;
font-style: normal;
font-size:20px;
}
.header__menu-list { 
padding: 30px 0;
display: flex;
justify-content: center;
align-items: center;
gap:3%;

}
.header__menu-item {
max-width:140px;
max-height:100px;
}
.header a{
text-align: center;
color: white;
}
.header__menu-logo {
max-width:140px;
max-height:100px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__masl {
    
}
.masl__inner {
    width:1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.masl__name {
    display: flex;
    flex-direction: column;
    gap:40px;
}
.masl__name h1{
    width: 600px;
    font-size: 28px;
    font-weight: 800;

}
.masl__name p{
    width: 800px;
    font-size: 24px;

}
.main__cream{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    background-color: #232323;
    
}
.cream__inner {
    width:1400px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    
}
.cream__team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 30px;
}
.cream__team h2{
    width:700px;
    font-size: 28px;
    color: white;

}
.cream__team p {
    width:700px;
    font-size: 24px;
    color: white;
}




.main__leg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 60px;
}
.leg__inner {
    width:1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.leg__title {
    width: 800px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;

}
.leg__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.content__text {
    font-size: 26px;
}












/*фидбек с отправкой на почту*/
.main__feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }
    .feedback__background{
        width:1400px;
        background-color: #232323;
        padding: 25px;
        display: flex;
        gap:400px;
        
    
    }
    
    .feedback__title p{
        font-size:34px;
        width:400px;
        color: white;
    
    }
    .link__personal{
        margin-top:80px;
        color: rgb(114, 114, 114);
        width:200px;
    
    }
    
    form button{
        width: 200px;
        height:50px;
        border-radius:1vh;
        border:1px solid #ffffff;
        background-color: #232323;
        color: white;
        text-align: center;
        margin-left:300px;
    
    }
    
    form{
        width:500px;
        display: flex;
        flex-direction: column;
        gap:40px;
        color: white;
    }
    .input__text{
        padding:10px;
        width:100%;
        
        border: none;
        border-bottom: 1px solid white;
        background-color: transparent;
        color: inherit;
        outline: none;
    }
    /*подвал*/
    .footer__inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:300px;
        padding: 20px;
        margin-top:40px;
        background-color: black;
        gap:40px;
    
    }
    .footer__stroke{
        background-color: #ffffff;
        width:1200px;
        height:1px;
    
    }
    .footer__menu{
        display: flex;
        justify-content:flex-start;
        gap:700px;
        
    
    }
    .footer__number h5{
        width:300px;
        text-align: center;
        color: #3f3e3e;
    
    
    }
    .footer__list{
        display: flex;
        gap: 40px;
    
    }
    .footer__list a{
        color: #ffffff;
    }