*{margin:0;
padding:0;
box-sizing: border-box;
}
body{
    width:100%;
font-size:16px;
font-family: "Kanit";
font-style:normal;
}
a{
text-decoration:none;
color: black;    
}
li{
list-style: none;
}
.header {
background-color: black;
width:100%;
}
.header__menu-link{
font-family: "Kanit", sans-serif;
font-weight: 500;
font-style: normal;
font-size:20px;
}
.header__menu-list { 
padding: 30px 0;
display: flex;
justify-content: center;
align-items: center;
gap:3%;

}
.header__menu-item {
max-width:140px;
max-height:100px;
}
.header a{
text-align: center;
color: white;
}
.header__menu-logo {
max-width:140px;
max-height:100px;
}



.main__preim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.preim__inner {
    margin-top:60px;
    width:1400px;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    gap: 80px;
}
.preim__image img{
    height: 400px;
    width:800px;
    border-radius: 15px;
    
}
.preim__text {
    text-align: left;
    display: flex;    
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.preim__text h1{
    width:400px;
    text-align: left;
    font-size: 36px;
    font-weight: bold;

}
.preim__text p{
    width:500px;
    text-align: left;
    font-size: 24px;

}


.main__atrib {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.atrib__title{
    margin-top:40px;
    font-size:30px;
    font-weight: bold;
}
.atrib__inner {
    margin-top:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px ;
}
.atrib__box {  
    padding:50px; 
    border-radius: 15px;
    width:400px;
    height:400px;
    background-color: rgb(41, 41, 41);
}
.atrib__box p{
    font-size: 24px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.main__prav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.prav__inner {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.prav__text{
    width:600px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:40px;
}
.prav__text h2{
    padding:40px;
    font-size: 38px;
    font-weight: bold;
}
.text__push{
    font-weight: 600;
    padding: 20px;
    text-align: left;
    height:450px;
    width:550px;
    font-size:28px;
    
}
.prav__stroke{
    width:2px;
    height:500px;
    background-color: black;
}
.prav__box {
    width: 830px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:40px;
}
.box__item {
    color: white;
    padding: 20px;
    text-align:left;
    font-size:26px;
    font-weight:900;
    width:800px;
    height:120px;
    border-radius: 1vh;
    background-color: rgb(41, 41, 41);
}
    /*подвал*/
    .footer__inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:300px;
        padding: 20px;
        margin-top:40px;
        background-color: black;
        gap:40px;
    
    }
    .footer__stroke{
        background-color: #ffffff;
        width:1200px;
        height:1px;
    
    }
    .footer__menu{
        display: flex;
        justify-content:flex-start;
        gap:700px;
        
    
    }
    .footer__number h5{
        width:300px;
        text-align: center;
        color: #3f3e3e;
    
    
    }
    .footer__list{
        display: flex;
        gap: 40px;
    
    }
    .footer__list a{
        color: #ffffff;
    }