*{margin:0;
padding:0;
box-sizing: border-box;
}
body{
font-size:16px;
font-family: "Kanit";
font-style:normal;
}
a{
text-decoration:none;
color: black;    
}
li{
list-style: none;
}
.header {
background-color: black;
width:100%;
}
.header__menu-link{
font-family: "Kanit", sans-serif;
font-weight: 500;
font-style: normal;
font-size:20px;
}
.header__menu-list { 
padding: 30px 0;
display: flex;
justify-content: center;
align-items: center;
gap:3%;

}
.header__menu-item {
max-width:140px;
max-height:100px;
}
.header a{
text-align: center;
color: white;
}
.header__menu-logo {
max-width:140px;
max-height:100px;
}


.main__why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;

}
.why__inner {
    margin-top:40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items:left;
    width:1400px;
    gap:40px;

}
.why__info{
    display: flex;
    gap: 200px;
}
.info__title {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
h1{
    font-size: 28px;
    font-weight: bold;

}
.info__text {
    width: 700px;
    font-size:24px;
}
.text__bottom {
    width: 700px;
    font-size:24px;
}
.why__katalog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;

}
.why__katalog img{
    width: 200px;
    height: 100px;
    border-radius: 2vh;
}
.why__info img{
    border-radius: 1vh;
}





    /*подвал*/
    .footer__inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:300px;
        padding: 20px;
        margin-top:40px;
        background-color: black;
        gap:40px;
    
    }
    .footer__stroke{
        background-color: #ffffff;
        width:1200px;
        height:1px;
    
    }
    .footer__menu{
        display: flex;
        justify-content:flex-start;
        gap:700px;
        
    
    }
    .footer__number h5{
        width:300px;
        text-align: center;
        color: #3f3e3e;
    
    
    }
    .footer__list{
        display: flex;
        gap: 40px;
    
    }
    .footer__list a{
        color: #ffffff;
    }